.card {
    width: 100%;
    height: 100%;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #2e2e2e;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 2px 4px 0px #2e2e2e;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.completed {
    color: white;
    background-color: #4CAF50;
    border: 2px solid #2e6a30;
}