.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1rem;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.spacer {
    width: 40px;
}