.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 0px #2e2e2e;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.dates {
    flex: 3;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchButton {
    flex: 1;
}