.card {
    width: 300px;
    height: 300px;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #2e2e2e;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 2px 4px 0px #2e2e2e;
}