.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f9ff;
    grid-template-columns: 60px 60px 100px 60px 60px;
    gap: 20px;
    padding: 10px;
    border-top: 1px solid rgba(27, 42, 137, 0.295);
    box-shadow: 1px -1px 4px rgba(27, 42, 137, 0.295);
}